* {
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    background-color: lightsalmon;
    width: 800px;
    margin: 0 auto;

}

.flex-colom{
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}


.box{
    flex-basis: 25%;
    background-color: lightgreen;
    border: 2px solid black;
    padding: 40px;
    text-align: center;
    font-size: 1.5em;
    color: black;
}

.double {
    flex-basis: 50%;
}