h1 {
    /*background-color: deeppink;
    padding: 30px; */
    width: 250px;
}

p {
    width: 450px;
}

/* .relative {
    position: relative;
    top: 10px;
    left: 200px;
}*/

/*.absolute {
    position: absolute;
    top: 0px;
    left: 50px;*/
}

/*.parent {
    width: 500px;
    margin: 0 auto;
    border: 4px solid black;
    padding: 20px;
    position: relative;*/
}

.ft {
    padding: 10px;
    background-color:red;
    margin: 0;
    width: 100%;
}

.callme {position: fixed;
    bottom: 0;
    left: 0;
}